<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-8 col-md-offset-1 col-xs-offset-2 col-sm-offset-0">
            <button id="createSession" class="btn btn-block btn-primary" ng-click="homeVm.generateSessionId()">CREATE SESSION</button>
            <br class="hidden-md" />
        </div>
        <div class="col-md-7 col-sm-8 col-xs-12 col-sm-offset-0 col-md-offset-0">
            <form data-toggle="validator" ng-submit="homeVm.joinSession()">
                <div class="input-group">
                    <input id="sessionId" type="text" class="form-control" ng-model="homeVm.sessionId" placeholder="Session ID" ng-autofocus>
                    <span class="input-group-btn">
                    <button id="enterSession" class="btn btn-success" type="submit">JOIN SESSION</button>
                </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <br />
            <div id="warningSession" class='alert alert-warning' role='alert' ng-show="homeVm.showErrorMsg"><b>Warning</b> The session does not exist!</div>
        </div>
    </div>
    <div class="row">
        <br />
        <div class="col-xs-12 col-md-4 col-md-offset-1">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel_title"><span class="label label-default">STATISTICS</span></h4>
                </div>
                <div class="panel-body">
                    <ul type="square">
                        <li id="activeSessions" class="label label-primary">ACTIVE SESSIONS: <span data-ng-bind="homeVm.activeSessions"></span></li><br />
                        <li id="activeUsers" class="label label-primary">ACTIVE USERS: <span data-ng-bind="homeVm.activeUsers"></span></li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>